{% load  static %}
<footer>
    <div class="ft-container">
        <img src="{% static 'images/logo.svg' %}" alt="Geeklogo">
        <div class="ft-parent">


        </div>
    </div>
    </div>
    <div class="scl-contatiner">
        <div class="scl-parent">
            <div class="socl-icon">
                <a href="https://t.me/geeks_edu_bot" target="_blank">
                    <img src="{% static 'images/Telegram_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="https://www.instagram.com/geeks_edu" target="_blank">
                    <img src="{% static 'images/instagram.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="https://www.tiktok.com/@geeks_edu" target="_blank">
                    <img src="{% static 'images/TikTok_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="https://www.youtube.com/@geekskg" target="_blank">
                    <img src="{% static 'images/YouTube_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="https://www.facebook.com/geekskg" target="_blank">
                    <img src="{% static 'images/Facebook_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="https://api.whatsapp.com/send/?phone=996507052018&text&type=phone_number&app_absent=0" target="_blank">
                    <img src="{% static 'images/whatsapp_2.svg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="ft-end">

    </div>
</footer>