{% load  static %}
<footer>
    <div class="ft-container">
        <img src="{% static 'images/logo.svg' %}" alt="Geeklogo">
        <div class="ft-parent">


        </div>
    </div>
    </div>
    <div class="scl-contatiner">
        <div class="scl-parent">
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/Telegram_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/instagram.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/TikTok_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/YouTube_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/Facebook_-_Original.svg' %}" alt="">
                </a>
            </div>
            <div class="socl-icon">
                <a href="#">
                    <img src="{% static 'images/whatsapp_2.svg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="ft-end">

    </div>
</footer>