<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.svg" alt="Geeks logo"></a>
                    </div>
                    <div class="navbar-nav">
                        <a href="courses.html" class="navbar-a">курсы</a>
                        <a href="geeksjunior.html" class="navbar-a">geeks junior</a>
                        <a href="geekspro.html" class="navbar-a">geeks pro</a>
                        <a href="about.html" class="navbar-a">о нас</a>
                        <a href="https://www.geekstudio.kg/" class="navbar-a" target="_blank">GEEKSTUDIO</a>
                    </div>
                    <div class="navbar-btn">
                        <a href="postcourse.html" target="_blank">
                        <button>записаться</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner-container">
            <div class="banner-parent">
                <div class="linia">

                </div>
                <div class="title">
                    <h1>НАША МИССИЯ</h1>
                    <p>МЫ СОЗДАЕМ ЭКОСИСТЕМУ ДЛЯ ОБУЧЕНИЯ, РАБОТЫ И ТВОРЧЕСТВА IT-СПЕЦИАЛИСТОВ</p>
                </div>
                <div class="image">
                    <img src="images/advan/baner.png" alt="geeks junior">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>

    <!-- ИСТОРИЯ СОЗДАНИЯ -->
    <h1 class="history-cr">ИСТОРИЯ СОЗДАНИЯ</h1>
    <div class="hs-container">
            <div class="hs-left">
                <div class="hs-des">
                    <p>Образовательный центр Geeks (Гикс) был основан Fullstack-разработчиком Айдаром Бакировым и Android-разработчиком Нургазы
                    Сулаймановым в 2018-ом году в Бишкеке с целью дать возможность каждому человеку, даже без опыта в технологиях,
                    гарантированно освоить IT-профессию.</p>
                </div>
                <div class="hs-image">
                    <img src="images/about/left.webp" alt="">
                </div>
            </div>
            <div class="hs-right">
                <div class="hs-image">
                    <img src="images/about/left.webp" alt="">
                </div>
                <div class="hs-des">
                    <p>Образовательный центр Geeks (Гикс) был основан Fullstack-разработчиком Айдаром Бакировым и
                        Android-разработчиком Нургазы
                        Сулаймановым в 2018-ом году в Бишкеке с целью дать возможность каждому человеку, даже без опыта в
                        технологиях,
                        гарантированно освоить IT-профессию.</p>
                </div>
        </div>
    </div>

    <!-- НАШИ ЦЕННОСТИ -->
    <h1 class="sennost">НАШИ ЦЕННОСТИ</h1>
    <div class="sen-container">
        <div class="sen-parent">
            <div class="sens">
                <img src="images/about/lampa.png" alt="">
                <h2>новаторства</h2>
                <p>В мире постоянных и быстрых изменений мы держим руку на пульсе и стремимся знать о новых технологиях, трендах, методах
                обучения в сфере IT. Поэтому, мы наблюдаем за рынком и ищем свой “Голубой океан”.
                Мы гибкие, мобильные и мы очень любим обучаться и обучать новому.
                Мы смелые в применении новых, неизведанных подходов в работе.
                Мы инициативны в постоянном предложении маленьких ежедневных изменений.</p>
            </div>
            <div class="sens">
                <img src="images/about/lampa.png" alt="">
                <h2>новаторства</h2>
                <p>В мире постоянных и быстрых изменений мы держим руку на пульсе и стремимся знать о новых технологиях, трендах,
                    методах
                    обучения в сфере IT. Поэтому, мы наблюдаем за рынком и ищем свой “Голубой океан”.
                    Мы гибкие, мобильные и мы очень любим обучаться и обучать новому.
                    Мы смелые в применении новых, неизведанных подходов в работе.
                    Мы инициативны в постоянном предложении маленьких ежедневных изменений.</p>
            </div>
            <div class="sens">
                <img src="images/about/lampa.png" alt="">
                <h2>новаторства</h2>
                <p>В мире постоянных и быстрых изменений мы держим руку на пульсе и стремимся знать о новых технологиях, трендах,
                    методах
                    обучения в сфере IT. Поэтому, мы наблюдаем за рынком и ищем свой “Голубой океан”.
                    Мы гибкие, мобильные и мы очень любим обучаться и обучать новому.
                    Мы смелые в применении новых, неизведанных подходов в работе.
                    Мы инициативны в постоянном предложении маленьких ежедневных изменений.</p>
            </div>
        </div>
    </div>

    <!-- ПРИНЦИПЫ РАБОТЫ -->
    <h1 class="prnsp">ПРИНЦИПЫ РАБОТЫ</h1>
    <div class="prsnr-container">
        <div class="prsnr-parent">
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">

                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на уровне
                11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь помогаем
                подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
            <div class="prsnr-con">
                <img src="images/about/senim.png" alt="">
            
                <h2>Ценим труд</h2>
                <p>За каждым результатом стоит его исполнитель со своим жизненным опытом. Даже если наши требования к результатам на
                    уровне
                    11 го класса, а исполнитель может выдать на уровне 6 го, мы ценим его опыт, старания и труд! В свою очередь
                    помогаем
                    подняться до 11 класса и заинтересованы в развитии коллеги.</p>
            </div>
        </div>
    </div>

    <!-- Team -->
    
    <div class="team-container">
        <div class="team-des">
            <h1>НАША КОМАНДА</h1>
            <p>БОЛЕЕ 50 ЧЕЛОВЕК УПОРНО ТРУДЯТСЯ ИЗО ДНЯ В ДЕНЬ ДЛЯ ТОГО, ЧТОБЫ ВСЕ ПРОЦЕССЫ ОБУЧЕНИЯ НЕ ОСТАНАВЛИВАЛИСЬ НИ НА
                МИНУТУ!</p>
        </div>
        <div class="team-parent">
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
            <div class="team">
                <img src="images/about/nergazi.webp" alt="">
                <h2>Нургазы Сулайманов</h2>
                <p>основатель</p>
            </div>
        </div>
    </div>
    <!-- Foother -->

    <footer>
        <div class="ft-container">
            <img src="images/logo.svg" alt="Geeklogo">
            <div class="ft-parent">
    
    
            </div>
        </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Telegram_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/TikTok_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/YouTube_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Facebook_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/whatsapp_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">
    
        </div>
    </footer>
    </body>
    
    </html>