{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                {% include 'include/navigations.html' %}
                    <div class="navbar-btn">
                        <a href="{% url 'courses_post' %}" target="_blank">
                        
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner-container">
            <div class="banner-parent">
                <div class="linia">

                </div>
                <div class="title">
                    <h1>{{settings.title}}</h1>
                    <p>{{settings.descriptions}}</p>
                </div>
                <div class="image">
                    <img src="{{settings.image.url}}" alt="geeks junior">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>

    <!-- ИСТОРИЯ СОЗДАНИЯ -->
    <h1 class="history-cr">ИСТОРИЯ СОЗДАНИЯ</h1>
    <div class="hs-container">
        {% for obj in history%}
       
            <div class="hs-left">
                <div class="hs-des">
                    <p>{{obj.text}}</p>
                </div>
                <div class="hs-image">
                    <img src="{{obj.iamge.url}}" alt="">
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>

    <!-- НАШИ ЦЕННОСТИ -->
    <h1 class="sennost">НАШИ ЦЕННОСТИ</h1>
    <div class="sen-container">
        <div class="sen-parent">
            {% for values in ourvalues %}
            <div class="sens">
                <img src="values.image.url" alt="">
                <h2>{{values.title}}</h2>
                <p>{{values.descriptions}}</p>
            </div>
           {% endfor %}
        </div>
    </div>

    <!-- ПРИНЦИПЫ РАБОТЫ -->
    <h1 class="prnsp">ПРИНЦИПЫ РАБОТЫ</h1>
    <div class="prsnr-container">
        <div class="prsnr-parent">
            {% for prsn in princiles %}
            <div class="prsnr-con">
                <img src="{{prsn.image.url}}" alt="">
                <h2>{{prsn.title}}</h2>
                <p>{{prsn.descriptions}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Team -->
    
    <div class="team-container">
        <div class="team-des">
            <h1>НАША КОМАНДА</h1>
            <p>БОЛЕЕ 50 ЧЕЛОВЕК УПОРНО ТРУДЯТСЯ ИЗО ДНЯ В ДЕНЬ ДЛЯ ТОГО, ЧТОБЫ ВСЕ ПРОЦЕССЫ ОБУЧЕНИЯ НЕ ОСТАНАВЛИВАЛИСЬ НИ НА
                МИНУТУ!</p>
        </div>
        <div class="team-parent">
            {% for t in team %}
            <div class="team">
                <img src="{{t.iamge.url}}" alt="">
                <h2>{{t.name}}</h2>
                <p>{{t.job}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Foother -->
    {% include 'include/foother.html'%}
    </body>
    
    </html>