{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    {% include 'include/navigations.html' %}
                    <div class="navbar-btn">
                        <a href="{% url 'courses' %}">
                        <button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner">
            <h1>{{course.name}}</h1>
            <h2>В БИШКЕКЕ</h2>
            <h3>НАЧАЛО КУРСА: {{course.start}}</h3>
            <h3>ГРАФИК: {{course.time}}</h3>
            <h3>{{course.graphics}}</h3>
            <p>{{course.banner_description}}</p>
            <a href="{% url 'courses_post' %}"><button>записаться на урок -></button></a>
        </div>
        <!-- banner  end -->
    </header>


    <div class="info-container">
        <div class="info-parent">
            <div class="info-sts">
                <div class="sts-parent">
                    <div class="moth-t">
                        <h1>{{course.moth}}</h1>
                        <p>месяцов</p>
                    </div>
                    <div class="price">
                        <h1>{{course.price}}</h1>
                        <p>Сомов в месяц</p>
                    </div>
                    <div class="lessons">
                        <h1>{{course.lessons}}</h1>
                        <p>Занятий</p>
                    </div>
                    <div class="techers">
                        <h1>{{course.techers}}</h1>
                        <p>Преподавателей</p>
                    </div>
                </div>
            </div>
            <div class="sts-img">
                <img src="{% static 'images/courses/course.webp' %}" alt="">
            </div>  
        </div>
    </div>

    <div class="how">
        <h1>Кто такой {{course.name}}</h1>
        <div class="paret">
            <div class="how-text">
                <p>{{course.about_course1}}</p>
            </div>
            <div class="how-img">
                <img src="{% static 'images/courses/howri.webp' %}" alt="">
            </div>
            <div class="how-img">
                <img src="{% static 'images/courses/howl.webp' %}" alt="">
            </div>
            <div class="how-text">
                <p>{{course.about_course2}}</p>
            </div>
        </div>
    </div>

    <div class="learn">
        <h1>ВЫ ОСВОИТЕ</h1>
        <div class="learn-parent">
            {% for learning in course.learning_set.all %}
            <div class="leart-con">
                <img src="{{learning.learning_img.url}}" alt="">
                <h2>{{learning.learning_title}}</h2>    
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Foother -->
    <footer>
        <div class="ft-container">
            <img src="{% static 'images/logo.svg' %}" alt="Geeklogo">
            <div class="ft-parent">
    
    
            </div>
        </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/Telegram_-_Original.svg' %}" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/instagram.svg' %}" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/TikTok_-_Original.svg' %}" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/YouTube_-_Original.svg' %}" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/Facebook_-_Original.svg' %}" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="{% static 'images/whatsapp_2.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">
    
        </div>
    </footer>
    </body>
    
    </html>