<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <link rel="stylesheet" href="css/course.css">
</head>
<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.svg" alt="Geeks logo"></a>
                    </div>
                    <div class="navbar-nav">
                        <a href="courses.html" class="navbar-a">курсы</a>
                        <a href="geeksjunior.html" class="navbar-a">geeks junior</a>
                        <a href="geekspro.html" class="navbar-a">geeks pro</a>
                        <a href="about.html" class="navbar-a">о нас</a>
                        <a href="https://www.geekstudio.kg/" class="navbar-a" target="_blank">GEEKSTUDIO</a>
                    </div>
                    <div class="navbar-btn">
                        <a href="postcourse.html" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->

        <div class="banner">
            <div class="banner-container">
                <div class="bn-child1">

                </div>
                <div class="bn-child">
                    <h1>САМЫЕ ВОСТРЕБОВАННЫЕ IT-КУРСЫ</h1>
                    <h2>В КЫРГЫЗСТАНЕ</h2>
                    <p>МЫ ПОСТОЯННО ИССЛЕДУЕМ РЫНОК ТРУДА В ПОИСКЕ САМЫХ ПОПУЛЯРНЫХ И ПЕРСПЕКТИВНЫХ IT-НАПРАВЛЕНИ</p>
                </div>
            </div>
        </div>
    </header>
        <!-- banner  end -->
    <!-- header section end -->
    <div class="crs-container">
        <div class="crs-parent">
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#">
                            <p>подробне -></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#"><p>подробне -></p></a>
                    </div>
                </div>
            </div>
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#">
                            <p>подробне -></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- 
    Foother -->
    <footer>
        <div class="ft-container">
            <img src="images/logo.svg" alt="Geeklogo">
            <div class="ft-parent">
    
    
            </div>
        </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Telegram_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/TikTok_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/YouTube_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Facebook_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/whatsapp_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">
    
        </div>
    </footer>
</body>
</html>