<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы</title>
    <link rel="stylesheet" href="css/course.css">
</head>

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.svg" alt="Geeks logo"></a>
                    </div>
                    <div class="navbar-nav">
                        <a href="courses.html" class="navbar-a">курсы</a>
                        <a href="geeksjunior.html" class="navbar-a">geeks junior</a>
                        <a href="geekspro.html" class="navbar-a">geeks pro</a>
                        <a href="geekspro.html" class="navbar-a">о нас</a>
                        <a href="https://www.geekstudio.kg/" class="navbar-a" target="_blank">GEEKSTUDIO</a>
                    </div>
                    <div class="navbar-btn">
                        <button>записаться</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner">
            <div class="banner-container">
                <div class="banner-content">
                    <div class="banner-des">
                        <h1>ЗНАНИЯ С ГАРАНТИЕЙ</h1>
                        <p>ИЗУЧАЙТЕ IT И СТАНЬТЕ ЭКСПЕРТОМ В СВОЕЙ ОБЛАСТИ</p>
                        <a href="#"><button class="banner-btn1">ЗАПИСАТЬСЯ НА КУРС</button></a>
                        <a href="#"><button class="banner-btn2">ВСЕ КУРСЫ</button></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img src="images/bannerphoto.webp" alt="geeks">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>

    <!-- Foother -->
    <footer>
        <div class="ft-container">
            <img src="images/logo.svg" alt="Geeklogo">
            <div class="ft-parent">
                <div class="ft-child">
                    <h3>Курсы</h3>
                    <ul>
                        <li>Проектный менеджер</li>
                        <li>Fullstack-разработчиком</li>
                        <li>ux/ui-дизйнер</li>
                        <li>ANDROID-разработчик</li>
                        <li>основы програирование</li>
                        <li>FRONTEND-РАЗРАБОТЧИК</li>
                        <li>BACKEND-РАЗРАБОТЧИК</li>
                        <li>Тестировшик</li>
    
                    </ul>
                </div>
                <div class="ft-child">
                    <h3>Курсы</h3>
                    <ul>
                        <li>Проектный менеджер</li>
                        <li>Fullstack-разработчиком</li>
                        <li>ux/ui-дизйнер</li>
                        <li>ANDROID-разработчик</li>
                        <li>основы програирование</li>
                        <li>FRONTEND-РАЗРАБОТЧИК</li>
                        <li>BACKEND-РАЗРАБОТЧИК</li>
                        <li>Тестировшик</li>
    
                    </ul>
                </div>
                <div class="ft-child">
                    <h3>Курсы</h3>
                    <ul>
                        <li>Проектный менеджер</li>
                        <li>Fullstack-разработчиком</li>
                        <li>ux/ui-дизйнер</li>
                        <li>ANDROID-разработчик</li>
                        <li>основы програирование</li>
                        <li>FRONTEND-РАЗРАБОТЧИК</li>
                        <li>BACKEND-РАЗРАБОТЧИК</li>
                        <li>Тестировшик</li>
    
                    </ul>
                </div>
                <div class="ft-child">
                    <h3>Курсы</h3>
                    <ul>
                        <li>Проектный менеджер</li>
                        <li>Fullstack-разработчиком</li>
                        <li>ux/ui-дизйнер</li>
                        <li>ANDROID-разработчик</li>
                        <li>основы програирование</li>
                        <li>FRONTEND-РАЗРАБОТЧИК</li>
                        <li>BACKEND-РАЗРАБОТЧИК</li>
                        <li>Тестировшик</li>
    
                    </ul>
                </div>
            </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Telegram_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/TikTok_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/YouTube_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Facebook_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/whatsapp_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">
    
        </div>
    </footer>
    </body>
    
    </html>