<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="css/geeksjunior.css">
</head>
<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.svg" alt="Geeks logo"></a>
                    </div>
                    <div class="navbar-nav">
                        <a href="courses.html" class="navbar-a">курсы</a>
                        <a href="geeksjunior.html" class="navbar-a">geeks junior</a>
                        <a href="geekspro.html" class="navbar-a">geeks pro</a>
                        <a href="about.html" class="navbar-a">о нас</a>
                        <a href="https://www.geekstudio.kg/" class="navbar-a" target="_blank">GEEKSTUDIO</a>
                    </div>
                    <div class="navbar-btn">
                        <a href="postdes.html" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
       <div class="banner-container">
        <div class="banner-parent">
            <div class="title">
                <h1>GEEKS JUNIOR</h1>
                <p>КУРСЫ IT ДЛЯ ДЕТЕЙ И ПОДРОСТКОВ ОТ 7 ДО 18 ЛЕТ</p>
                <a href="postdes.html"><button>записаться на курс</button></a>
            </div>
            <div class="image">
                <img src="images/geeksjunior/banner.png" alt="geeks junior">
            </div>
        </div>
       </div>
        <!-- banner  end -->
    </header>
    <div class="pr-container">
        <div class="pr-parent">
            <div class="pr">
                <h1>5</h1>
                <p>Лет на рынке</p>
            </div>
            <div class="pr">
                <h1>150+</h1>
                <p>Сотрудников</p>
            </div>
            <div class="pr">
                <h1>1000+</h1>
                <p>Действующих студентов</p>
            </div>
            <div class="pr">
                <h1>2000+</h1>
                <p>Довольных выпускников</p>
            </div>
        </div>
    </div>
    <!-- ПОЧЕМУ стоит учиться в geeks JUNIOR -->
    <div class="box">
        <div class="top-content">
            <div class="bo-parent">
                <div class="title-box">
                    <h1>ПОЧЕМУ СТОИТ ВЫБРАТЬ GEEKS JUNIOR</h1>
                </div>
            </div>
        </div>
            <div class="parent">
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
    
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repu</p>
                </div>
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses -->
    <div class="crs-container">
        <div class="crs-parent">
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title-cr">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в
                            трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#">
                            <p>подробне -></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title-cr">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в
                            трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#">
                            <p>подробне -></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="images/courses/prmendjer.svg" alt="">
                    </div>
                    <div class="start">
                        <p>Старт: 19.12.2023</p>
                    </div>
                    <div class="title-cr">
                        <h1>МЕНЕДЖЕР ПРОЕКТОВ</h1>
                    </div>
                    <div class="des">
                        <p>Стань Менеджером проектов с нуля за 2 месяца! Получи доступ к стажировке и помощь в
                            трудоустройстве!</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: 2 месяца</p>
                    </div>
                    <div class="more">
                        <a href="#">
                            <p>подробне -></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Пробный Урок -->
        <div class="pru-containre">
            <div class="pru-parent">
                <div class="pru">
                    <h1>ПОСЕТИТЕ БЕСПЛАТНЫЙ УРОК И ПОЛУЧИТЕ СКИДКУ</h1>
                    <p>Бесплатный пробный урок - это лучший способ понять, подходит ли вашему ребенку то или иное направление, а также увидеть
                    своими глазами, где и как он будет обучаться.</p>
                    <a href="#">
                        <button>записаться на пробный урок</button>
                    </a>
                </div>
                <div class="pru">
                    <img src="images/geeksjunior/girl.png" alt="geeksjunior">
                </div>
            </div>
        </div>

    
    <!-- Foother -->
    <footer>
        <div class="ft-container">
            <img src="images/logo.svg" alt="Geeklogo">
            <div class="ft-parent">
    
    
            </div>
        </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Telegram_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/TikTok_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/YouTube_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Facebook_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/whatsapp_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">
    
        </div>
    </footer>
    </body>
    
    </html>