{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="{% static 'css/geekspro.css' %}">
</head>

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    {% include 'include/navigations.html' %}
                    <div class="navbar-btn">
                        <a href="postgeekspro.html" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner-container">
            <div class="banner-parent">
                <div class="title">
                    <h1>{{settings.banner_title}}</h1>
                    <p>{{settings.banner_descriptions}}</p>
                    <a href="postgeekspro.html" target="_blank"><button>заявка в geeks pro </button></a>
                </div>
                <div class="image">
                    <img src="{{settings.banner_image.url}}" alt="geeks junior" style="max-width: 75%;">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>
    <!-- header end -->

    <!-- статистика -->
    <div class="pr-container">
        <div class="pr-parent">
            {% for statis in statistics%}
            <div class="pr">
                <h1>{{static.title}}</h1>
                <p>{{statis.descriptions}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Почему Geeks pro -->
    <div class="how-gekspro-cont">
        <h1 >ПОЧЕМУ GEEKS PRO?</h1>
        <div class="how-geekspro-pr">
            {% for how in howgeekspro %}
            <div class="how-geekspro">
                <h2>{{how.title}}</h2>
            </div>
           {% endfor %}
        </div>
    </div>

    <!-- вопросы ответы -->
    <div class="faq-conatiner">
        <div class="faq-parent">
            {% for f in faq %}
            <div class="faq-child">
                <h2>{{f.title}}</h2>
                <p>{{f.descriptions}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Пртнеры -->
    <div class="partner-cont">
        <h1>НАШИ ПАРТНЕРЫ</h1>
        <div class="partner-parent">
            {% for part in partners%}
            <div class="partner">
                <a href="#"><img src="{{part.image.url}}" alt=""></a>
            </div>
            {% endfor %}
            
        </div>
    </div>
        <!-- Foother -->
        {% include 'include/foother.html'%}
        </body>
        
        </html>