{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="{% static 'css/geeksjunior.css' %}">
</head>
<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    {% include 'include/navigations.html' %}
                    <div class="navbar-btn">
                        <a href="{% url 'juniorpost' %}" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
       <div class="banner-container">
        <div class="banner-parent">
            <div class="title">
                <h1>{{ettings.bannet_title}}</h1>
                <p>{{settings.banner_descriptions}}</p>
                <a href="{% url 'juniorpost' %}"><button>записаться на курс</button></a>
            </div>
            <div class="image">
                <img src="{{settings.banner_image.url}}" alt="geeks junior">
            </div>
        </div>
       </div>
        <!-- banner  end -->
    </header>
    <div class="pr-container">
        <div class="pr-parent">
            {% for st in statistic%}
            <div class="pr">
                <h1>{{st.title}}</h1>
                <p>{{st.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- ПОЧЕМУ стоит учиться в geeks JUNIOR -->
    <div class="box">
        <div class="top-content">
            <div class="bo-parent">
                <div class="title-box">
                    <h1>ПОЧЕМУ СТОИТ ВЫБРАТЬ GEEKS JUNIOR</h1>
                </div>
            </div>
        </div>
            <div class="parent">
                {% for how in howjunior %}
                <div class="child">
                    <h1>{{how.title}}</h1>
                    <p>{{how.descriptions}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Courses -->
    <div class="crs-container">
        <div class="crs-parent">
             {% for cours in courses %}

            <div class="crs">
                <div class="crs-items">
                    <div class="icon">
                        <img src="{{cours.iamge.url}}" alt="">
                    </div>
                    <div class="start">
                        <p>{{cours.start}}</p>
                    </div>
                    <div class="title-cr">
                        <h1>{{cours.title}}</h1>
                    </div>
                    <div class="des">
                        <p>{{ cours.description}}</p>
                    </div>
                    <div class="moth">
                        <p>Длительность: {{cours.moth}}</p>
                    </div>
                    <div class="more">
                        <a href="{% url 'juniorpost' %}">
                            <p>Записаться</p>
                        </a>
                    </div>

                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>

    <!-- Пробный Урок -->
        <div class="pru-containre">
            <div class="pru-parent">
                <div class="pru">
                    <h1>{{free_lesson.title}}</h1>
                    <p>{{free_lesson.description}}</p>
                    <a href="{% url 'juniorpost' %}">
                        <button>записаться на пробный урок</button>
                    </a>
                </div>
                <div class="pru">
                    <img src="{{free_lesson.image.url}}" alt="geeksjunior">
                </div>
            </div>
        </div>

    
    <!-- Foother -->
    {% include 'include/foother.html'%}
    </body>
    
    </html>