<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="css/main.css">
</head> 

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href="#"><img src="images/logo.svg" alt="Geeks logo"></a>
                    </div>
                    <div class="navbar-nav">
                        <a href="courses.html" class="navbar-a">курсы</a>
                        <a href="geeksjunior.html" class="navbar-a">geeks junior</a>
                        <a href="geekspro.html" class="navbar-a">geeks pro</a>
                        <a href="about.html" class="navbar-a">о нас</a>
                        <a href="https://www.geekstudio.kg/" class="navbar-a">GEEKSTUDIO</a>
                    </div>
                    <div class="navbar-btn">
                        <a href="postcourse.html" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner">
            <div class="banner-container">
                <div class="banner-content">
                    <div class="banner-des">
                        <h1>ЗНАНИЯ С ГАРАНТИЕЙ</h1>
                        <p>ИЗУЧАЙТЕ IT И СТАНЬТЕ ЭКСПЕРТОМ В СВОЕЙ ОБЛАСТИ</p>
                        <a href="postcourse.html" target="_blank">
                        <button class="banner-btn1">ЗАПИСАТЬСЯ НА КУРС</button></a>
                        <a href="courses.html">
                        <button class="banner-btn2">ВСЕ КУРСЫ</button></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img src="images/bannerphoto.webp" alt="geeks">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>
    <!-- header section end -->
    <!-- Плясы гитса -->
    <div class="columns">
        <div class="column">
            <h1>КАРЬЕРА В IT-КОМПАНИИ</h1>
            <p>Станьте частью новой культуры. Работайте над интересными проектами в команде с лучшими и получайте достойную оплату.</p>
        </div>
        <div class="column">
            <h1>РАБОТАЙТЕ НА ФРИЛАНСЕ</h1>
            <p>Работайте удалённо, принимая заказы из других стран. Высокий доход, свободный график и никакого начальника.</p>
        </div>
        <div class="column">
            <h1>СОЗДАЙТЕ IT-СТАРТАП</h1>
            <p>Научитесь воплощать свои идеи в жизнь. Постройте новый Google или Facebook. Реализуйте свои мечты.</p>
        </div>
    </div>
    <!-- ПИРЕМУШЕСТВА -->
    <div class="box">
        <div class="top-content">
            <div class="bo-parent">
                <div class="title">
                    <h1>ПОЧЕМУ СТОИТЬ УЧИТЬСЯ В GEEKS ?</h1>
                </div>
                <div class="box-button">
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <div class="parent">
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
    
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repu</p>
                </div>
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
                <div class="child">
                    <h1>Word this</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis deleniti magni officiis deserunt
                        ducimus
                        repudiandae. Sequi, exercitationem saepe? Molestias iure temporibus modi deserunt, in culpa minima
                        laboriosam.
                        Quasi, ab sunt!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gint-text">
        <h1>GEEKS В ЦИФРАХ</h1>
    </div>
    <!-- Geeks в цифрах -->
    <div class="geeksint">
        <div class="geeksint-content">
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            <div class="gi-cont">
                <h1>899 СТУДЕНТОВ</h1>
                <p>Записались на наши курсы в 2023</p>
            </div>
            
            
        </div>
    <!-- geeks online -->
    <div class="onl-container">
        <div class="onln-parent">
            <div class="chld1">
                <h1>GEEKS ONLINE</h1>
                <p>Geeks online - инаватционная образавательная плантформа, передстлавяюшая 
                    доступ к качественному обучению Ит-профессиям где можно получить необхадимое
                    знание от опытных переподавателей в любое удобное для вас время. 
                </p>
                <a href="#"><button class="go-btn">ВОЙТИ</button></a>
                
            </div>
            <div class="onln-img">
                <img src="images/geeksonline.png" alt="geeks online">
            </div>
        </div>
    </div>
    <!-- Coursees -->
    <div class="cr-con">
        <div class="cr-title">
            <h1>НАШИ КУРСЫ</h1>
        </div>
        <div class="cr-title">
            <a href="courses.html">
            <button>ВСЕ КУРСЫ</button></a>
        </div>
    </div>
    <div class="courses">
        <div class="course">
            <a href="course.html" class="course-link">
                <img src="images/courses/productmanadjer.webp" alt="Course 1">
                <h2>МЕНЕДЖЕР ПРОЕКТОВ</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/fulstack.webp" alt="Course 2">
                <h2>FULLSTACK-РАЗРАБОТЧИК</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/uxui.webp" alt="Course 3">
                <h2>UX/UI-ДИЗАЙНЕР</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/android.webp" alt="Course 4">
                <h2>ANDROID-РАЗРАБОТЧИК</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/base.webp" alt="Course 4">
                <h2>ОСНОВЫ ПРОГРАММИРОВАНИЯ</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/backend.webp" alt="Course 4">
                <h2>BACKEND-РАЗРАБОТЧИК</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/frontend.webp" alt="Course 4">
                <h2>FRONTEND-РАЗРАБОТЧИК</h2>
            </a>
        </div>
        <div class="course">
            <a href="#" class="course-link">
                <img src="images/courses/qa.png" alt="Course 4">
                <h2>ТЕСТИРОВЩИК ПО</h2>
            </a>
        </div>
    </div>
    <!-- Пробный урок  -->
    <div class="pr-con">
        <div class="pr-par">
            <div class="pr-titel">
                <h1>ЗАПИШИСЬ НА ПРОБНЫЙ УРОК</h1>
            </div>
            <div class="pr-button">
                <a href="courses.html"><button>ВСЕ КУРСЫ</button></a>
            </div>
        </div>
    </div>
    <div class="obsh-image">
        <img src="images/geeksobsh.jpg" alt="geeks">
    </div>
    <!-- КУРСЫ ПРОГРАММИРОВАНИЯ БИШКЕК -->
    <div class="cr-cont">
        <div class="crb-parent">
            <div class="child-cur">
                <img src="images/coursesprogrammin1.webp" alt="">
            </div>
            <div class="child-cur">
                <h1>КУРСЫ ПРОГРАММИРОВАНИЯ БИШКЕК</h1>
                <p>Образовательный центр Geeks (Гикс) был основан Fullstack-разработчиком Айдаром Бакировым и Android-разработчиком Нургазы
                Сулаймановым в 2018-ом году в Бишкеке с целью дать возможность каждому человеку, даже без опыта в технологиях,
                гарантированно освоить IT-профессию. В данный момент более 1200 студентов в возрасте от 12 до 45 лет изучают здесь
                программирование, дизайн и английский язык. Филиальная сеть образовательного центра представлена в таких городах, как
                Бишкек, Ош и Кара-Балта.
                </p>
                <a href="about.html"><button>ПОДРОБНЕ О НАС</button></a>
            </div>
            <div class="child-cur">
                <img src="images/coursesprogrammin2.webp" alt="">
            </div>
        </div>
    </div>
    <!-- Наши выпусники -->
   <div class="our-graduates">
    <h2>Наши выпускники</h2>
    <div class="graduates-container">
        <div class="graduate">
            <img src="images/mee.jpg" alt="Student 1">
            <h3>Ахмаджанов Хикматилло 16 лет</h3>
            <p>Software Enginer/ Google</p>
        </div>
        <div class="graduate">
            <img src="images/muhammed.png" alt="Student 2">
            <h3>Мухаммед Агибаев 34 года</h3>
            <p>IT-аудитор/ Dos Credbank</p>
        </div>
        <div class="graduate">
            <img src="images/alisher.png" alt="Student 3">
            <h3>Алишер Абенов 16 лет</h3>
            <p>Андроид разработчик/ Attactor Software</p>
        </div>
        <div class="graduate">
            <img src="images/mee.jpg" alt="Student 1">
            <h3>Ахмаджанов Хикматилло 16 лет</h3>
            <p>Software Enginer/ Google</p>
        </div>
        <div class="graduate">
            <img src="images/mee.jpg" alt="Student 1">
            <h3>Ахмаджанов Хикматилло 16 лет</h3>
            <p>Software Enginer/ Google</p>
        </div>
        <div class="graduate">
            <img src="images/muhammed.png" alt="Student 2">
            <h3>Мухаммед Агибаев 34 года</h3>
            <p>IT-аудитор/ Dos Credbank</p>
        </div>
        <div class="graduate">
            <img src="images/alisher.png" alt="Student 3">
            <h3>Алишер Абенов 16 лет</h3>
            <p>Андроид разработчик/ Attactor Software</p>
        </div>
        <div class="graduate">
            <img src="images/mee.jpg" alt="Student 1">
            <h3>Ахмаджанов Хикматилло 16 лет</h3>
            <p>Software Enginer/ Google</p>
        </div>
  
        <div class="controls">
            <img src="images/left.svg" alt="Назад" onclick="prevGraduates()">
            <img src="images/right.svg" alt="Вперед" onclick="nextGraduates()">
        </div>

    </div>
</div>

<script>
   let currentIndex = 0;
    const graduates = document.querySelectorAll('.graduate');

    function showGraduates(startIndex) {
        for (let i = 0; i < graduates.length; i++) {
            if (i >= startIndex && i < startIndex + 3) {
                graduates[i].style.display = 'block';
            } else {
                graduates[i].style.display = 'none';
            }
        }
    }

    function prevGraduates() {
        if (currentIndex > 0) {
            currentIndex -= 3;
            showGraduates(currentIndex);
        }
    }

    function nextGraduates() {
        if (currentIndex < graduates.length - 3) {
            currentIndex += 3;
            showGraduates(currentIndex);
        }
    }

    showGraduates(currentIndex);


</script>

    <!-- Работы студентов -->
    <div class="rbs-graduates">
        <h2>ВЫПУСКНЫЕ РАБОТЫ СТУДЕНТОВ</h2>
        <div class="rbs-container">
            <div class="rbs-graduate">
               <a href="#"><img src="images/okai.webp" alt="Student 1">
                <h3>Okai</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                </a>
            </div>
            <div class="rbs-graduate">
                <a href="#"><img src="images/okai.webp" alt="Student 1">
                    <h3>Okai</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </a>
            </div>
            <div class="rbs-graduate">
                <a href="#"><img src="images/okai.webp" alt="Student 1">
                    <h3>Okai</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </a>
            </div>
            <div class="rbs-graduate">
                <a href="#"><img src="images/okai.webp" alt="Student 1">
                    <h3>Okai</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </a>
            </div>
            <div class="rbs-graduate">
                <a href="#"><img src="images/okai.webp" alt="Student 1">
                    <h3>Okai</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </a>
            </div>
    
        </div>
    </div>

    <!-- Contacts -->
    <div class="cont-container">
        <h1>контакты</h1>
        <div class="cont-parent">
            <div class="cont-child">
                <h2>Бишкек</h2>

                <h3>Номер телефона</h3>
                <ul>
                    <li>+996 (557) 05 2018</li>
                    <li>+996 (507) 05 2018</li>
                    <li>+996 (777) 05 2018</li>
                </ul>

                <h3>Email</h3>
                <ul>
                    <li>office@geeks.kg</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="#"><li>ул. Ибраимова 103, БЦ “Victory”</li></a>
                </ul>

                <button>Посмотреть в карте</button>

            </div>
            <div class="cont-child">
                <h2>Ош</h2>

                 <h3>Номер телефона</h3>
                <ul>
                    <li>+996 (557) 05 2018</li>
                    <li>+996 (507) 05 2018</li>
                    <li>+996 (777) 05 2018</li>
                </ul>

                <h3>Email</h3>
                <ul>
                    <li>office@geeks.kg</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="#"><li>ул. Мырзалы Аматова 1Б, БЦ Томирис, цокольный этаж (здание Визион)</li></a>
                </ul>
                <button>Посмотреть в карте</button>

            </div>
            <div class="cont-child">
                <h2>Кара-Балта</h2>

                <h3>Номер телефона</h3>
                <ul>
                    <li>+996 (557) 05 2018</li>
                    <li>+996 (507) 05 2018</li>
                    <li>+996 (777) 05 2018</li>
                </ul>
                
                <h3>Email</h3>
                <ul>
                    <li>office@geeks.kg</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="#">
                        <li>ул. Кожомбердиева 112, напротив Сах. завода, выше здания Олимпик</li>
                    </a>
                </ul>
                <button>Посмотреть в карте</button>
            </div>
        </div>
    </div>
    <!-- Foother -->
    <footer>
        <div class="ft-container">
            <img src="images/logo.svg" alt="Geeklogo">
            <div class="ft-parent">
                
               
                </div>
            </div>
        </div>
        <div class="scl-contatiner">
            <div class="scl-parent">
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Telegram_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/TikTok_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/YouTube_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/Facebook_-_Original.svg" alt="">
                    </a>
                </div>
                <div class="socl-icon">
                    <a href="#">
                        <img src="images/whatsapp_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft-end">

        </div>
    </footer>
</body>

</html>