{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы программирования с нуля | Программирование для начинающих - школа GEEKS</title>
    <link rel="stylesheet" href="{% static  'css/main.css' %}">
</head> 

<body>
    <!-- header section start -->
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navigation">
                    {% include 'include/navigations.html' %}
                    <div class="navbar-btn">
                        <a href="{% url 'courses_post' %}" target="_blank"><button>записаться</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar  -->
        <!-- banner start -->
        <div class="banner">
            <div class="banner-container">
                <div class="banner-content">
                    <div class="banner-des">
                        <h1>{{settings.header_title}}</h1>
                        <p>{{settings.header_descriptions}}</p>
                        <a href="{% url 'courses_post' %}" target="_blank">
                        <button class="banner-btn1">ЗАПИСАТЬСЯ НА КУРС</button></a>
                        <a href="{% url 'courses' %}">
                        <button class="banner-btn2">ВСЕ КУРСЫ</button></a>
                    </div>
                </div>
                <div class="banner-img">
                    <img src="{% static 'images/bannerphoto.webp' %}" alt="geeks">
                </div>
            </div>
        </div>
        <!-- banner  end -->
    </header>
    <!-- header section end -->
    <!-- Плясы гитса -->
    <div class="columns">
        {% for how in howareyou%}
        <div class="column">
            <h1>{{how.title}}</h1>
            <p>{{how.descriptions}}</p>
        </div>
        {% endfor %}
    </div>
    <!-- ПИРЕМУШЕСТВА -->
    <div class="box">
        <div class="top-content">
            <div class="bo-parent">
                <div class="title">
                    <h1>ПОЧЕМУ СТОИТЬ УЧИТЬСЯ В GEEKS ?</h1>
                </div>
                <div class="box-button">
                </div>
            </div>
        </div>
        <div class="bottom-content">
            <div class="parent">
                {% for learning in larning_geeks%}
                <div class="child">
                        <h1>{{learning.title}}</h1>
                        <p>{{learning.descriptions}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gint-text">
        <h1>GEEKS В ЦИФРАХ</h1>
    </div>
    <!-- Geeks в цифрах -->
    <div class="geeksint">
        <div class="geeksint-content">
            {% for geeksints in geeksint %}
            <div class="gi-cont">
                <h1>{{geeksints.title}}</h1>
                <p>{{geeksints.descriptions}}</p>
            </div> 
            {% endfor %}
            
        </div>
    <!-- geeks online -->
    <div class="onl-container">
        <div class="onln-parent">
            <div class="chld1">
                <h1>{{geeks_online.title}}</h1>
                <p>{{geeks_online.descriptions}}</p>
                <a href="https://online.geeks.kg/" target="_blank"><button class="go-btn">ВОЙТИ</button></a>
                
            </div>
            <div class="onln-img">
                <img src="{% static 'images/geeksonline.png' %}" alt="geeks online">
            </div>
        </div>
    </div>
    <!-- Coursees -->
    <div class="cr-con">
        <div class="cr-title">
            <h1>НАШИ КУРСЫ</h1>
        </div>
        <div class="cr-title">
            <a href="{% url 'courses' %}">
            <button>ВСЕ КУРСЫ</button></a>
        </div>
    </div>
    <div class="courses">
        {% for course in courses %}
        <div class="course">
            <a href="{% url 'course_detail' course.id  %}" class="course-link">
                <img src="{{ course.image.url }}" alt="Course 1">
                <h2>{{course.name}}</h2>
            </a>
        </div>
        {% endfor %}
       
    </div>
    <!-- Пробный урок  -->
    <div class="pr-con">
        <div class="pr-par">
            <div class="pr-titel">
                <h1>ЗАПИШИСЬ НА ПРОБНЫЙ УРОК</h1>
            </div>
            <div class="pr-button">
                <a href="{% url 'courses' %}" target="_blank"><button>ВСЕ КУРСЫ</button></a>
            </div>
        </div>
    </div>
    <div class="obsh-image">
        <img src="{% static 'images/geeksobsh.jpg' %}" alt="geeks">
    </div>
    <!-- КУРСЫ ПРОГРАММИРОВАНИЯ БИШКЕК -->
    <div class="cr-cont">
        <div class="crb-parent">
            <div class="child-cur">
                <img src="{% static 'images/coursesprogrammin1.webp' %}" alt="">
            </div>
            <div class="child-cur">
                <h1>КУРСЫ ПРОГРАММИРОВАНИЯ БИШКЕК</h1>
                <p>Образовательный центр Geeks (Гикс) был основан Fullstack-разработчиком Айдаром Бакировым и Android-разработчиком Нургазы
                Сулаймановым в 2018-ом году в Бишкеке с целью дать возможность каждому человеку, даже без опыта в технологиях,
                гарантированно освоить IT-профессию. В данный момент более 1200 студентов в возрасте от 12 до 45 лет изучают здесь
                программирование, дизайн и английский язык. Филиальная сеть образовательного центра представлена в таких городах, как
                Бишкек, Ош и Кара-Балта.
                </p>
                <a href="{% url 'about' %}"><button>ПОДРОБНЕ О НАС</button></a>
            </div>
            <div class="child-cur">
                <img src="{% static 'images/coursesprogrammin2.webp' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Наши выпусники -->
   <div class="our-graduates">
    <h2>Наши выпускники</h2>
    <div class="graduates-container">
        {% for student in students%}
        <div class="graduate">
            <img src="{{student.iamge.url}}" alt="Student 1">
            <h3>{{student.name}}</h3>
            <p>{{student.job}}</p>
        </div>
        {% endfor %}
        <div class="controls">
            <img src="{% static 'images/left.svg' %}" alt="Назад" onclick="prevGraduates()">
            <img src="{% static 'images/right.svg' %}" alt="Вперед" onclick="nextGraduates()">
        </div>

    </div>
</div>

<script>
   let currentIndex = 0;
    const graduates = document.querySelectorAll('.graduate');

    function showGraduates(startIndex) {
        for (let i = 0; i < graduates.length; i++) {
            if (i >= startIndex && i < startIndex + 3) {
                graduates[i].style.display = 'block';
            } else {
                graduates[i].style.display = 'none';
            }
        }
    }

    function prevGraduates() {
        if (currentIndex > 0) {
            currentIndex -= 3;
            showGraduates(currentIndex);
        }
    }

    function nextGraduates() {
        if (currentIndex < graduates.length - 3) {
            currentIndex += 3;
            showGraduates(currentIndex);
        }
    }

    showGraduates(currentIndex);


</script>

    <!-- Работы студентов -->
    <div class="rbs-graduates">
        <h2>ВЫПУСКНЫЕ РАБОТЫ СТУДЕНТОВ</h2>
        <div class="rbs-container">
            {% for project in st_projects %}
            <div class="rbs-graduate">
               <a href="{{project.link}}" target="_blank"><img src="{{project.image.url}}" alt="Student 1">
                <h3>{{project.title}}</h3>
                <p>{{project.descriptions}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Contacts -->
    <div class="cont-container">
        <h1>контакты</h1>
        <div class="cont-parent">
            <div class="cont-child">
                <h2>Бишкек</h2>

                <h3>Номер телефона</h3>
                <ul>
                    <li>{{bishkek.phone}}</li>
                </ul>

                <h3>Email</h3>
                <ul>
                    <li>{{ bishkek.email }}</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="{{bishkek.addres_map}}" target="_blank"><li>{{bishkek.addres_text}}</li></a>
                </ul>
                <a href="{{bishkek.addres_map}}" target="_blank"><button>Посмотреть в карте</button></a>
                
            </div>
            <div class="cont-child">
                <h2>Ош</h2>

                 <h3>Номер телефона</h3>
                <ul>
                    <li>{{osh.phone}}</li>
                </ul>

                <h3>Email</h3>
                <ul>
                    <li>{{osh.email}}</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="{{osh.addres_map}}" target="_blank"><li>{{osh.addres_text}}</li></a>
                </ul>
                <a href="{{osh.addres_map}}" target="_blank"><button>Посмотреть в карте</button></a>

            </div>
            <div class="cont-child">
                <h2>Кара-Балта</h2>

                <h3>Номер телефона</h3>
                <ul>
                    <li>{{kara_balta.phone}}</li>
                </ul>
                
                <h3>Email</h3>
                <ul>
                    <li>{{kara_balta.email}}</li>
                </ul>
                
                <h3>Адрес</h3>
                <ul>
                    <a href="{{kara_balta.addres_map}}" target="_blank">
                        <li>{{kara_balta.addres_text}}</li>
                    </a>
                </ul>
                <a href="{{kara_balta.addres_map}}" target="_blank"><button>Посмотреть в карте</button></a>
            </div>
        </div>
    </div>
    <!-- Foother -->
    {% include 'include/foother.html'%}
</body>

</html>