{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Форма записи на курсы</title>
    <link rel="stylesheet" href="{% static 'css/postcurse.css' %}">
</head>

<body>

    <div class="container">
        <div class="parent">
            <div class="child">
                <h3>Зполнити форму и наша менеджера свяжутся с вами</h3>
                <form  method="post">
                    {% csrf_token %}

                    <p>Имя</p>
                    <input type="text" id="name" name="name" required placeholder="Имя"><br><br>

                    <p>Номер телефона:</p>
                    <input type="tel" id="phone" name="phone" required placeholder="Телефонный номер"><br><br>

                    <p>Почта:</p>
                    <input type="email" id="email" name="email" required placeholder="Почта"><br><br>
                    <p>С какого учобно заведение:</p>
                    <input type="text" id="email" name="learning" required placeholder="курс/универ"><br><br>
                    <p>направление</p>
                    <select id="direction" name="direction">
                        <{% for dt in geekspro_directions %}
                        <option value="{{csr.name}}">{{dt.name}}</option>
                        {% endfor %}
                    </select> <!-- Добавьте другие курсы по аналогии -->
                    <br><br>

                    <input class="submit" type="submit" value="Записаться">
                </form>
            </div>
        </div>
    </div>

</body>

</html>